html,
body {
    display: flex;
    justify-content: center;
}

.canvas-container {
    position: relative;
    width: 800;
    height: 600;
}

#canvas {
    position: absolute;
}

#button {
    position: absolute;
    left: auto;
    right: auto;
}